@rendermode InteractiveServer

@using Blazor.Bootstrap.Icons.Components

<div class="position-absolute border-5 btn-danger h-100 w-100 align-items-center justify-content-center @VisibilityClass" style="background-color: rgba(0,0,0,0.5)">
    
    
    <div class="card" style="min-width: 25%">
        
        <div class="card-header d-flex bg-light justify-content-between">
            
            <h3>@_title</h3>
            
            <button class="btn btn-danger" @onclick=@Close><BiXLg/></button>
        </div>
        
        <div class="card-body">
            
            @ChildContent
            
        </div>
    </div>
</div>




@code {

    [Parameter] public RenderFragment ChildContent {get; set; }
    private string VisibilityClass => _isVisible ? "d-flex" : "d-none";

    [Parameter] public Action? OnCloseHandler { get; set; }

    private string _title;
    private bool _isVisible;

    
    public void Show()
    {
        _isVisible = true;
        InvokeAsync(StateHasChanged);
    }
    
    
    public void Close()
    {
        _isVisible = false;
        InvokeAsync(StateHasChanged);
        OnCloseHandler?.Invoke();
    }

    
    public void UpdateTitle(string title)
    {
        _title = title;
        InvokeAsync(StateHasChanged);
    }
}

