@using EasyKiosk.Client.UI.Components
@inherits LayoutComponentBase

<main class="vh-100 d-flex flex-column">
    <CascadingValue Value="LoadingScreen">
        @Body
    </CascadingValue>

    <LoadingScreen @ref="LoadingScreen"/>
</main>



@code {

    [CascadingParameter] public LoadingScreen LoadingScreen { get; set; } = default!;

}
