@using EasyKiosk.Server.Service

@inject INotificationManager NotificationManager



<NotificationWithLabel NotificationType="@Model.Type" DismissHandler="(() => NotificationManager.Remove(Model))">
    
        <p>@Model.Message</p>
    
</NotificationWithLabel>


@code {
    [Parameter] public Notification Model { get; set; }
}