
<div class="h-full w-full @Class">



    <svg class="@Color" viewBox="0 0 400 231" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_78_3)">


            <path d="M153.467 8.33329C131.733 56.8666 131.8 56.7333 143.2 56.6L149.333 56.4666V97.6V138.667H196H242.667L242.8 100.333C242.867 79.2666 243.067 60.8 243.133 59.3333C243.333 57.1333 244.133 56.7333 248.267 57.1333C261.067 58.2 261.067 57.5333 247.2 26L235.733 -4.79221e-05H196.467H157.2L153.467 8.33329ZM178.267 12.3333C177.867 14 176.267 21.8 174.6 29.6666L171.667 44H162.467C151.467 44 151.6 45.0666 159.6 25L165.8 9.33329H172.4C178.533 9.33329 178.933 9.53329 178.267 12.3333ZM203.2 19.6666C203.733 25.3333 204.467 33.1333 204.933 37L205.733 44H196.667H187.6L188.533 33C189 26.9333 189.733 19.1333 190.2 15.6666L191 9.33329H196.667H202.267L203.2 19.6666ZM233.667 25.7333C237.133 34.8 240 42.6 240 43.0666C240 43.6 236.067 44 231.333 44C221.067 44 221.467 44.6 217.4 25C213.867 8.33329 213.667 9.33329 221 9.33329H227.333L233.667 25.7333ZM169 58.3333C170.667 58.6666 173.867 58.2 176.067 57.2666C179.133 56.0666 180.533 56 181.667 57.1333C183.6 59.0666 192.333 59.1333 194.267 57.2C195.333 56.1333 196.467 56.1333 198.467 57.2C202.067 59.1333 209.733 59.0666 211.733 57.0666C212.933 55.8666 214 55.9333 216.533 57.2666C219.733 59 224.933 58.7333 229.867 56.6C232.267 55.6 232.4 56.0666 231.533 64.8C231.067 69.8666 230.667 77.7333 230.667 82.3333V90.6666H196H161.333V73.2C161.333 57.0666 161.533 55.8 163.667 56.6666C164.933 57.2666 167.333 58 169 58.3333ZM230.667 114V122.733L196.333 122.333L162 122L161.6 113.667L161.2 105.333H195.933H230.667V114Z"/>


            <path d="M190.667 182V213.333H195.333H200V206.933C200 201.133 206.4 190.933 208.467 193.4C208.667 193.733 211.533 198.333 214.8 203.667C220.6 213.2 220.733 213.333 226.333 213.333H231.933L223.333 200.133C212.933 184.333 213 186.2 222 177.333C230.6 168.867 230.867 168 224.867 168C221 168 218.933 169.467 210.2 178.667L200 189.333V170V150.667H195.333H190.667V182Z"/>
            <path d="M240.867 151.533C239.333 153.133 239.933 158.267 241.933 159.933C246.267 163.533 252.867 156.933 249.267 152.6C247.6 150.6 242.467 150 240.867 151.533Z"/>
            <path d="M357.333 182V213.333H362C366.6 213.333 366.667 213.267 366.667 207.467C366.667 201.8 371.467 193.333 374.667 193.333C375.267 193.333 378.667 197.867 382.133 203.333C388.2 212.933 388.667 213.333 393.533 213.333C400 213.333 400.2 214.267 390 199L381.333 186.067L389.333 178C398.6 168.667 398.8 168 392.933 168C389.333 168 387 169.6 378.667 178C366 190.733 366.667 191.2 366.667 169.333V150.667H362H357.333V182Z"/>
            <path d="M0 184V213.333H22H44V209.333V205.333H27.3333H10.6667V196.667V188H25.3333H40V184V180H25.3333H10.6667V171.333V162.667H26.6667H42.6667V158.667V154.667H21.3333H0V184Z"/>
            <path d="M66 169.2C57.2666 171.4 54.4666 173.733 56.6666 176.933C58.4666 179.533 59 179.6 62.3333 178C71.8 173.4 82.6666 176.533 82.6666 183.867C82.6666 186.133 81.4 186.467 71.2 186.867C54.9333 187.533 48.1333 195.333 53.9333 206.533C57.6 213.667 73.6666 215.733 80 210C82.6 207.667 82.6666 207.667 82.6666 210.467C82.6666 212.867 83.4666 213.333 87.3333 213.333H92V197C91.9333 172.733 84.3333 164.533 66 169.2ZM82.6666 195.867C82.6666 204.133 71.8666 209.533 63.9333 205.267C61 203.733 60.4 197.467 62.9333 194.933C65.8666 192 82.6666 192.867 82.6666 195.867Z"/>
            <path d="M111.067 169.4C97.2001 173.667 99.9334 188.333 115.667 194C124.533 197.2 127.933 201.2 124.6 204.533C121.733 207.4 114.333 207.2 108.133 204.067L103.067 201.467L101.533 204.8C97.1334 214.467 128.133 216.333 133.267 206.733C137.667 198.533 133.667 192.067 121.467 187.4C116.4 185.467 111.867 182.867 111.4 181.667C109.4 176.467 118.533 174 127.333 177.333C131.2 178.8 133.267 177.533 133.333 173.733C133.333 169.867 118.867 167.067 111.067 169.4Z"/>
            <path d="M139.133 168.8C138.2 169.2 140.933 177.2 146.867 191.267C154.867 210.267 155.867 213.533 154.533 216.4C152.667 220.6 148.267 222.667 144.333 221.2C141.467 220.133 138.667 222.733 138.667 226.467C138.667 229.133 147.667 231 152.733 229.333C158.933 227.267 159.733 225.933 171.933 195.4L182.533 169.2L177.733 169.6L173 170L167.2 185.867C164 194.6 161.133 202 160.8 202.333C160.533 202.6 157.267 195.133 153.6 185.733C146.8 168.267 145.067 166.267 139.133 168.8Z"/>
            <path d="M240.867 168.867C240.4 169.4 240 179.6 240 191.533V213.333H244.667H249.333V190.667V168H245.533C243.467 168 241.4 168.4 240.867 168.867Z"/>
            <path d="M275.333 169.933C259.467 175.733 255.267 196.067 267.533 207.6C274.667 214.333 289.467 215.333 297.133 209.667C318.933 193.533 300.867 160.667 275.333 169.933ZM291.533 178.333C302.933 187.667 296.333 208.133 282.533 206.267C273.467 205.067 268.067 197 269.933 187.333C271.667 177.933 284.467 172.667 291.533 178.333Z"/>
            <path d="M324.467 168.867C309.533 172.067 311.667 187.733 327.867 193.933C335.6 196.933 338.667 199.2 338.667 202C338.667 206.733 327.667 207.933 320.133 204.067L315.067 201.467L313.533 204.8C309.133 214.467 340.133 216.333 345.267 206.733C349.8 198.333 345.467 191.133 333.6 187.267C326.8 185.067 322.667 182.333 322.667 180.067C322.667 176 331.8 174.467 339.333 177.333C343.2 178.8 345.267 177.533 345.333 173.733C345.333 170.333 332 167.2 324.467 168.867Z"/>
        </g>
        <defs>
            <clipPath id="clip0_78_3">
                <rect width="400" height="230.667" fill="white"/>
            </clipPath>
        </defs>
    </svg>
    
    
    
</div>


@code {

    [Parameter] public string Color { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
}